
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Bower Deps
assets/libs/bower_components

#remove back end when we got the C# running
#api/

