<div class="profile container">
    <div class="row">
        
        <h1 class="col-xs-12">Update your profile</h1>
        
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <form name="myData">
                <input type="text" class="form-control" ng-model="me.displayName">

                <img ng-if="me.profile_picture" ng-src="{{me.profile_picture}}" alt="">
                <label for="">profile picture url</label>
                <input type="text" class="form-control" ng-model="me.profile_picture">

                <img ng-if="me.background_picture" ng-src="{{me.background_picture}}" alt="">
                <label for="">change background picture url</label>
                <input type="text" class="form-control" ng-model="me.background_picture">

                <button class="btn btn-primary" ng-click="updateMe(me)">Update</button>
            </form>
        </div>
    </div>

</div>