<div class="profile container-fluid">
    <div class="row">
        
        <h1 class="col-xs-12">Update your profile</h1>
        
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <form name="userData">
                <input type="text" class="form-control" ng-model="user.displayName">

                <img ng-if="user.profile_picture" ng-src="{{user.profile_picture}}" alt="">
                <label for="">profile picture url</label>
                <input type="text" class="form-control" ng-model="user.profile_picture">

                <img ng-if="user.background_picture" ng-src="{{user.background_picture}}" alt="">
                <label for="">change background picture url</label>
                <input type="text" class="form-control" ng-model="user.background_picture">

                <button class="btn btn-primary" ng-click="updateUser(user)">Update</button>
            </form>
        </div>
    </div>

</div>