<!DOCTYPE html>
<html ng-app="gabblr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>gabblr</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css">
        <link rel="stylesheet" href="deps.css">
        <script type="text/javascript" src="/deps.js"></script>
        <script type="text/javascript" src="/app.js"></script>
        <script type="text/javascript" src="/templates.js"></script>
        <base href="/">

    </head>

    <body >
        <nav ng-controller="MainCtrl" class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav">
                    <a ui-sref='home' class="navbar-brand"><i class="fa fa-edit"></i>Gabbler</a>
                    <li ng-if="!isAuthenticated()"><a ui-sref="signup">Signup</a></li>
                    <li ng-if="!isAuthenticated()"><a ui-sref="login">Login</a></li> 
                    <li ng-if="isAuthenticated()"><a ui-sref="me">Profil</a></li>                   

                </ul>

                <ul ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
                    <li ng-click="logout()"><a>Log out</a></li>
                </ul>
            </div>
        </nav>
        
        <div ui-view autoscroll="false" class="page-view">
            
        </div>

        <footer>
            
        </footer>
    </body>
</html>